*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.nav{
    display: flex;
    cursor: pointer;
    width: 100%;
    position: fixed;
    
}
.background{
    background: rgba(0, 0, 0, 0.5) url(lamp.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.left{
    width: 50%;
    display: flex;
}

.right{
    width: 50%;
    margin: 30px 30px;
    text-align: end;
}

.logo img{
    border: 2px solid black;
    border-radius: 50%;
    max-width: 20%;
    margin: 20px 20px;
}

ul{
    display: flex;
    align-items: center;
    margin-top: -15px;
}

ul li{
    padding: 20px;
}

ul li a{
    color: white;
}

ul li a:hover{
    color: orangered;
}
.btn{
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
.btn a{
    text-decoration: none;
    color: white;
}

.btn a:hover{
    color: rgba(25, 142, 81, 0.9);
}


input{
    padding: 3px;
    border-radius: 10px;
}

.section{
    height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 60%;
    height: 90%;
   
}
.first{
    color: white;
    
}

.sec img{
    border-radius: 10px;
    width: 150px;
}

.head{
    font-size: 25px;
    padding: 15px 15px 0 0;
    
}

.sub{
    padding: 15px 15px 15px 0;
}

.burger{
    position: absolute;
    right: 5%;
    top: 15px;
    cursor: pointer;
    display: none;
}

.line{
    width: 25px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
}

@media only screen and (max-width:352px) {
     
    .burger{
        display: block;
    }
    
    .left{
        flex-direction: column;
    }
    .nav{
       
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        padding-left: 80px;
        position: fixed;
        transition: all 0.7s ease-out;
    }
    .logo img{
        margin: -30px -60px;
    }

    ul{
        flex-direction: column;
       
    }

    .main{
        flex-direction: column-reverse;
        max-width: 80%;
        height: 110%;
    }

    .search{
        margin: 5px;
    }
    
    .visible{
        opacity: 0;
    }
    
    ul li a:hover{
        color: orangered;
    }
    
    

}